<mat-grid-list [cols]="breakpoint" rowHeight="250px" (window:resize)="onResize($event)" *ngIf="users.length > 0">
    <mat-grid-tile *ngFor="let user of users">
        <div>
            <div>
                <h2>{{user.first_name}} {{user.last_name}}</h2>
            </div>
            <div>
                <h4>{{user.email}}</h4>
            </div>
            <div>
                <img src="http://www.freeimageslive.com/galleries/nature/water/preview/breaking_wave.jpg"
                    alt="{{user.first_name}} {{user.last_name}}">
            </div>
            <div class="detailsCol">
                <button mat-button color="primary" (click)="goToDetails(user.id || 0)">View Details</button>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>


<mat-paginator *ngIf="users.length > 0" [length]="totalUsers" [pageSize]="6" (page)="getOtherUserData($event)">
</mat-paginator>

<mat-grid-list cols="1" rowHeight="1:1" *ngIf="users.length == 0">
    <mat-grid-tile>
        <div class="row">
            <div class="col-12 text-center">
                <h2>No Users till now</h2>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>