<mat-grid-list cols="3" rowHeight="250" *ngIf="users.length > 0">
    <mat-grid-tile *ngFor="let user of users">
            <div class="row">
                <div class="col-12">
                    <h2>{{user.first_name}} {{user.last_name}}</h2>
                </div>
                <div class="col-12">
                    <h4>{{user.email}}</h4>
                </div>
                <div class="col-12">
                    <img [src]="user.avatar" alt="">
                </div>
                <div class="col-12 detailsCol">
                    <a (click)="goToDetails(user.id || 0)" color="primary">View Details</a>
                </div>
            </div>
    </mat-grid-tile>
</mat-grid-list>


<mat-paginator *ngIf="users.length > 0" [length]="totalUsers" [pageSize]="6" (page)="getOtherUserData($event)">
</mat-paginator>

<mat-grid-list cols="1" rowHeight="1:1" *ngIf="users.length == 0">
    <mat-grid-tile>
        <div class="row">
            <div class="col-12 text-center">
                <h2>No Users till now</h2>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>